# auth-api
AUTH_API_PORT=5001
JWT_ISSUER=PF_Project_4P1W
JWT_AUDIENCE=PF_Project_4P1W.Client
JWT_SIGNING_KEY=replace_with_strong_key

# resource-api
RESOURCE_API_PORT=5002
AUTH_API_BASE_URL=http://localhost:5001

# web-app (Vite)
VITE_AUTH_API_BASE_URL=http://localhost:5001
VITE_RESOURCE_API_BASE_URL=http://localhost:5002
